html{
  scroll-behavior: smooth;
}

/* -------------- Nav Class------------- */

.cv-link{
  font-size: 25px;
  color: #6665a0 !important;
  padding:10px;
  border: 1px solid ;
  border-radius: 9px;
  transition: all 0.3s ease-in !important;
}
.cv-link:hover{
  text-decoration: none;
  color: #5c5ae9;
}
.nav-class{
  background-color: transparent !important;
  transition: all 0.3s ease-out;
}
.scroll{
  transition: all 0.2s ease-in;
  background-color: rgb(255, 255, 255) !important;
  
}
.nav-head{
  font-size: 25px;
  color: #5c5ae9 !important;
}
.n-link{
  color: #6665a0 !important;
  font-size: 19px;
  transition: all 0.4s ease !important;
}
.n-link:hover{
  color: #5c5ca7 !important;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.4s ease !important;
}
.nav-toggler:focus,
.nav-toggler:active,
.nav-toggler:focus {
    outline: none;
    box-shadow: none;
}


/*------------- Introduction ----------------*/
.jumbo-intro{
  background: none;
  height:600px;
}
.jumbo-intro>p{
  font-size: 70px;  
  top: 55%;
  position:absolute;
  left:4%;
}
.type-effect{
  top: 70%;
  position:absolute;
  left:4%;
  font-size: 40px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
@media screen and (max-width : 460px)
{
  .jumbo-intro>p
  {
    font-size: 50px !important;
  }
  .type-effect
  {
    font-size: 38px !important;
  }
}
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*------------------- About -------------------*/

.about-head {
  margin-top: 15%;
  font-size:32px;
}
.about-head-1{
  font-size:42px;
}
.about-line{
  margin-top: 30px;
  width:80px;
  border: 1px solid rgb(167, 163, 163);
}
.about-image{
  height: 170px;
  width: 165px;
}

/* -----------------  Projects CSS  -----------------------*/
.project-head{
  font-size:32px;
  margin-top: 14%;
}
.img-ht{
  max-height:210px;
}
.proj-card{
  max-width: 410px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03) !important;
  transition: all .35s ease; /* back to normal */
}
.proj-card:hover{
  transform: translate3D(0,-10px,0) scale(1.03);
}

/*------------ Contact page ----------------*/
.contact{
  padding: 100px;
}
.contact-head{
  font-size:32px;
}
.icon{
  height: 35px;
  width: 35px;
  color: black;
  display: inline-block !important;
}
.mail-icon{
  color: black;
  padding: 10px;
  width: 38px;
  height: 30px;
}
.icon-set{
}